.header {
    width: 100%;
    background-color: var(--main-color);
    padding: 20px 0;
    color: var(--text-white);
    position: relative;
    display: flex;

    .container.header-has-search {
        margin-bottom: 30px !important;
    }

    &-top {
        justify-content: space-between;
        align-items: center;
        float: left;
        width: 250px;

        & h2 {
            text-transform: capitalize;
            font-weight: bold;
        }

        & a {
            color: var(--text-white);
            text-decoration: none;
        }
    }

    &-center {
        margin-top: 50px;

        & h3 {
            text-transform: capitalize;
            font-weight: 600;
        }

        & p {
            margin-top: 10px;
        }
    }

    &-user {
        align-items: center;
        float: right;
        width: 100px;
    }
}

@media screen and (max-width: 768px){
    .header {
        padding-left: 10px;
        padding-right: 10px;

        &-top {
            h2 {
                font-size: 20px;
            }

            &__right {
                display: none;
            }
        }

        &-center {
            margin-top: 10px;

            & h3 {
                font-size: 18px;
                font-weight: 500;
            }

            & p {
                font-size: 14px;
            }
        }

        &-search {
            flex-direction: column;
            align-items: flex-start;
            position: relative !important;
            width: 100%;
            margin-bottom: -20px !important;

            &__item {
                margin: 3px 0;
            }

            .search-btn {
                margin-top: 10px;
            }

            .date {
                margin-top: 25px;
                z-index: 100;
            }

            .options {
                margin-top: 50px;
            }
        }
    }
}